{# Copyright (C) 2012 - 2013 Open Source Matters, Inc. All rights reserved. #}
{# GNU General Public License version 2 or later; see LICENSE.txt #}
<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Joomla! Todo{% endblock %}</title>
    </head>
    <body>
        {% block body %}12123{% endblock %}
    </body> 
</html>