{# Copyright (C) 2012 - 2013 Open Source Matters, Inc. All rights reserved. #}
{# GNU General Public License version 2 or later; see LICENSE.txt #}

{% extends input.isChild ? '@Global/empty.twig' : "@Global/index.twig" %}

{% block GlobalBody %}
<form action="">
    {% block body %}{% endblock %}
</form>
{% endblock %}